:root {
  font-family: system-ui, -apple-system, sans-serif;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
}

.blinking-cursor {
  animation: blink 1s step-start infinite;
  margin-left: 1px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
